@model rozproszone_bazy_danych.Models.Settlement

@{
    ViewBag.Title = "Stan zużycia energii elektrycznej";
}

<h2>Stan zużycia energii elektrycznej</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Settlement</legend>



        <div class="editor-label">
           Zużycie energii w [W]
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.energy_usage)
            @Html.ValidationMessageFor(model => model.energy_usage)
        </div>


        <p>
            <input type="submit" value="Wyślij" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Przeglądaj historię rachunku", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
