@model rozproszone_bazy_danych.Models.Settlement

@{
    ViewBag.Title = "Szczegóły";
}

<h2>Szczegóły</h2>

<fieldset>
    <legend>Settlement</legend>
    <table>
        <tr>
            <td><b>@Html.DisplayNameFor(model => model.Current_date):</b></td>
            <td>@Html.DisplayFor(model => model.Current_date)</td>
        </tr>
        <tr>
            <td><b>@Html.DisplayNameFor(model => model.energy_usage):</b></td>
            <td>@Html.DisplayFor(model => model.energy_usage)</td>
        </tr>
        <tr>
            <td><b>@Html.DisplayNameFor(model => model.settlement_date):</b></td>
            <td>@Html.DisplayFor(model => model.settlement_date)</td>
        </tr>
      </table>
        
</fieldset>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Wróć", "Index", "Home")
</p>
