@model rozproszone_bazy_danych.Models.Settlement

@{
    ViewBag.Title = "Szczegóły";
}

<h2>Szczegóły</h2>

<fieldset>
    <legend>Settlement</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Users.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Users.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Current_date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Current_date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.energy_usage)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.energy_usage)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.settlement_date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.settlement_date)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Wróć", "Index", "Home");
</p>
