@model IEnumerable<rozproszone_bazy_danych.Models.Settlement>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h2>@ViewBag.error</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Data zgłoszenia
        </th>
        <th>
            Stan zużycia energii&nbsp&nbsp
        </th>
        <th>
            Data ostatniego zgłoszenia
        </th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Current_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.energy_usage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.settlement_date)
        </td>
    </tr>
}

</table>
