@model rozproszone_bazy_danych.Models.Settlement

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Settlement</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Users.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Users.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Current_date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Current_date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.energy_usage)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.energy_usage)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.settlement_date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.settlement_date)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Settlements")
    </p>
}