@model rozproszone_bazy_danych.Models.Users

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Users</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Password)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Password)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SureName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SureName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Mail)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Mail)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Phone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Last_energy_usage)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Last_energy_usage)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Pesel)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Pesel)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.City_Id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City_Id)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
