@model rozproszone_bazy_danych.Models.Users

@{
    ViewBag.Title = "Twój profil";
}

<h2>Details</h2>

<fieldset>
    <legend>Users</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SureName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SureName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Mail)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Mail)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Phone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Last_energy_usage)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Last_energy_usage)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Pesel)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Pesel)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.City_Id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City_Id)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Wróć", "Index", "Home");
</p>
