@if (Request.IsAuthenticated)
    {
    if (ViewBag.admin == true)
        {
        <ul id="menu">
            <li>@Html.ActionLink("Start", "Index", "Home")</li>
            <li>@Html.ActionLink("Rozliczenia", "Settlements", "Admin")</li>
            <li>@Html.ActionLink("Użytkownicy", "Users", "Admin")</li>
        </ul>
        }
    else
        {
        <ul id="menu">
            <li>@Html.ActionLink("Start", "Index", "Home")</li>
            <li>@Html.ActionLink("Zgłoś", "Create", "Settlement")</li>
            <li>@Html.ActionLink("Historia", "Index", "Settlement")</li>
        </ul>
        }
    }
else
    {
    <ul id="menu">
        <li>@Html.ActionLink("Start", "Index", "Home")</li>
    </ul>
    }